<div class="container mt-4">
  <h2 class="text-center">Resultados</h2>


  <div class="overflow-auto w-100 p-2 border rounded">
    <div class="d-flex flex-column gap-3">

      <div class="row flex-nowrap g-3">
        @for (libro of primeraFila; track libro.id) {
          <div class="col-md-3 col-sm-6">
            <app-libro-card [libro]="libro" class="h-100 d-flex flex-column"></app-libro-card>
          </div>
        }
      </div>


      <div class="row flex-nowrap g-3">
        @for (libro of segundaFila; track libro.id) {
          <div class="col-md-3 col-sm-6">
            <app-libro-card [libro]="libro" class="h-100 d-flex flex-column"></app-libro-card>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <button class="btn btn-outline-primary me-2" (click)="paginaAnterior()" [disabled]="paginaActual === 0">
       Anterior
    </button>

    <span>Página {{ paginaActual + 1 }}</span>

    <button class="btn btn-outline-primary ms-2" (click)="paginaSiguiente()" [disabled]="librosFiltrados.length === 0">
      Siguiente 
    </button>
  </div>
</div>
