<div class="container mt-4">

  <div class="hero-container position-relative text-center text-white">

    <img src="assets/img/hero.jpg" alt="Hero" class="hero-img">
  

    <div class="hero-overlay"></div>
  

    <div class="hero-content position-absolute top-50 start-50 translate-middle">
      <h1>Explora el Mundo de los Libros</h1>
      <p>Encuentra y descubre libros con la API de Google Books.</p>
      <a class="btn btn-warning btn-lg mt-3" routerLink="/libros">Explorar Libros</a>
    </div>
  </div>
  




  <app-carrusel class="row mt-5"></app-carrusel>

  <div class="row mt-5">

    <div class="col-md-4">
      <div class="card">

        <img class="card-img-top" alt="Novedades">
        <div class="card-body">
          <h5 class="card-title">Novedades</h5>
          <p class="card-text">Descubre los libros más recientes.</p>
          <button class="btn btn-primary btn-lg w-100" (click)="buscarNovedades()"> Novedades</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">

        <img class="card-img-top" alt="Mejor valorados">
        <div class="card-body">
          <h5 class="card-title">Mejor Valorados</h5>
          <p class="card-text">Los libros favoritos de los lectores.</p>
          <button class="btn btn-primary btn-lg w-100" (click)="buscarMejorValorados()"> Mejor Valorados</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">

        <img class="card-img-top" alt="Por categoría">
        <div class="card-body">
          <h5 class="card-title">Explora por Categoría</h5>
          <p class="card-text">Busca libros por género o tema.</p>
          <button class="btn btn-primary btn-lg w-100" (click)="abrirCategorias()"> Mostar Categorias</button>
        </div>
      </div>
    </div>

  </div>

  @if (mostrarCategorias) {
  <div class="mt-4">
    <h4 class="text-center">Selecciona una categoría</h4>
    <div class="row">
      @for (categoria of categorias; track categoria) {
      <div class="col-md-6">
        <button class="btn btn-outline-primary w-100 my-1" (click)="seleccionarCategoria(categoria)">
          {{ categoria }}
        </button>
      </div>
      }
    </div>
  </div>
  }

  @if (mostrarCategorias){
    <div class="mt-5">
      <app-resultados [terminoBusqueda]="terminoBusqueda" [subject]="categoriaSeleccionada"
        [categoriaSeleccionada]="categoriaSeleccionada" [orderBy]="orderBy" [maxResults]="maxResults">
      </app-resultados>
    </div>
  } @else {
    <div class="mt-5">
      <app-resultados [terminoBusqueda]="terminoBusqueda" [orderBy]="orderBy" [maxResults]="maxResults">
      </app-resultados>
    </div>    
  }


  <div class="container text-center mt-5">
    <h2>Sobre este proyecto</h2>
    <p class="text-muted">
      Esta aplicación te permite explorar y descubrir libros de la API de Google Books.
      Usa el buscador para encontrar libros por título, autor o categoría.
    </p>
    <p>Ademas he usado dos proveedores externos en mi proyecto, Firebase para el login y la base de datos y emailjs para la mensajeria</p>
    <p>Tambien he incluido otra api proporcionada por google books difente a la que hago para las busquedas, esta me sirve para visualizar vistras previas del libro en el componente libro-detalle</p>
    
  </div>

</div>